<h1>Bewerbungen</h1>
<p>Hier wird später die Liste aller Bewerbungen angezeigt.</p>

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Person</th>
    <th>Unternehmen</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>Max Mustermann</td>
    <td>BVG</td>
    <td>In Bearbeitung</td>
  </tr>
  <tr>
    <td>Erika Musterfrau</td>
    <td>ITDZ Berlin</td>
    <td>Abgelehnt</td>
  </tr>
</table>
