<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>Praktikumsverwaltung</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/persons">Personen</a>
      <a href="/companies">Unternehmen</a>
      <a href="/applications">Bewerbungen</a>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>